name: Deploy Documentation

on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  deploy-docs:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Configure GitHub Pages
        uses: actions/configure-pages@v5
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          lfs: true
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r ./docs/requirements.txt
      - name: Build documentation website with Zensical
        run: zensical build --clean 
      - uses: actions/upload-pages-artifact@v4
        with:
          path: site
      - name: Deploy documentation website to GitHub Pages
        uses: actions/deploy-pages@v4
        id: deployment
